{% extends 'base.html' %}
{% block content %}

<h1>Star Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ star.name }}</span>
        <p>Spectral Type: {{ star.type_of_star }}</p>
        <p>Distance from Earth: {{ star.distance }} lightyears</p>
        {% if star.mass > 1 %}
            <p>Mass: {{ star.mass }} M (solar mass)</p>
        {% else %}
            <p>Mass: Lighter than the Sun</p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'stars_update' star.id %}">Edit</a>
        <a href="{% url 'stars_delete' star.id %}">Delete</a>
    </div>
</div>

{% endblock %}