{% extends 'base.html' %}
{% block content %}

<h1>Star Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ star.name }}</span>
                <p>Spectral Type: {{ star.type_of_star }}</p>
                <p>Distance from Earth: {{ star.distance }} lightyears</p>
                {% if star.mass > 1 %}
                <p>Mass: {{ star.mass }} M (solar mass)</p>
                {% else %}
                <p>Mass: Lighter than the Sun</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'stars_update' star.id %}">Edit</a>
                <a href="{% url 'stars_delete' star.id %}">Delete</a>
            </div>
        </div>
        {% for photo in star.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}">
        {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
        <form action="{% url 'add_photo' star.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Photo">
        </form>
    </div>

    <div class="col s6">
        <form action="{% url 'add_viewing' star.id %}" method="POST">
            {% csrf_token %}
            {{ viewing_form.as_p }}
            <input type="submit" class="btn" value="Add Viewing">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Visibility</th>
                </tr>
            </thead>
            <tbody>
                {% for viewing in star.viewing_set.all %}
                <tr>
                    <td>{{viewing.date}}</td>
                    <td>{{viewing.time}}</td>
                    <td>{{viewing.get_visibility_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>{{ star.name }} can be viewed from:</h3>
        {% if star.observatories.count %}
        {% for observatory in star.observatories.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ observatory.name }} at {{observatory.location}}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'unassoc_observatory' star.id observatory.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>No observatories selected</h5>
        {% endif %}
    </div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
        <h3>Available Observatories</h3>
        {% if observatories.count %}
        {% for observatory in observatories.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ observatory.name }} at {{ observatory.location }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_observatory' star.id observatory.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{star.observatory}} Viewable from all available observatories</h5>
        {% endif %}
    </div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    var timeEl = document.getElementById('id_time');
    M.Timepicker.init(timeEl, {
        defaultTime: '00:00',
        twelveHour: false,
        autoClose: true
    });

    var selectEl = document.getElementById('id_visibility');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}